[Unit]
Description=Electrum wallet daemon
Wants=network.target
Requires=docker.service
After=docker.service network.target

[Service]
TimeoutStartSec=5
Restart=always
RestartSec=20s
ExecStartPre=/usr/bin/docker pull osminogin/electrum-daemon
ExecStart=/usr/bin/docker run --rm --name electrum -p 127.0.0.1:9000:9000 osminogin/electrum-daemon
ExecStop=/usr/bin/docker stop electrum

[Install]
WantedBy=multi-user.target
